.grid-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 40px;
    gap: 10px;

    .skill {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: var(--white-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        app-skeleton-image {
            width: 30%;
            height: auto;
            max-height: 60%;
        }
    }

    @media screen and (max-width: 999px) {
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);

        .skill {
            app-skeleton-image {
                width: 50%;
            }
        }
    }
}