<app-base title="Skills" introduction="Welcome to my Skills hub! 🛠️💡 Explore the essentials – coding, design, data, and more. Each skill is a key to unlocking unique project potential. Ready to see how these skills translate into impactful results? Let's dive in! 💻🚀">
    <div class="filterElement" #filterElement>
        <ion-select [(ngModel)]="filter.orderBy" (ionDismiss)="handleDismiss()" (ionChange)="handleChange('orderBy', $event)" interface="popover" label="Order By" placeholder="Select Order By" label-placement="floating">
            <ion-select-option value="date">Skill learned date</ion-select-option>
            <ion-select-option value="name">Skill name</ion-select-option>
        </ion-select>
        
        <ion-select [(ngModel)]="filter.order" (ionDismiss)="handleDismiss()" (ionChange)="handleChange('order', $event)" interface="popover" label="Order" placeholder="Select Order" label-placement="floating">
            <ion-select-option value="asc">ASC</ion-select-option>
            <ion-select-option value="desc">DESC</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="filter.levels" (ionDismiss)="handleDismiss()" (ionChange)="handleChange('levels', $event)" interface="popover" label="Level" placeholder="Select Level" [multiple]="true" label-placement="floating">
            <ion-select-option value="advanced">Advanced</ion-select-option>
            <ion-select-option value="intermediate">intermediate</ion-select-option>
            <ion-select-option value="beginner">beginner</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="filter.years" (ionDismiss)="handleDismiss()" (ionChange)="handleChange('years', $event)" interface="popover" label="Learned in Year" placeholder="Select Learned in Year" [multiple]="true" label-placement="floating">
            <ion-select-option value="2024">2024</ion-select-option>
            <ion-select-option value="2023">2023</ion-select-option>
            <ion-select-option value="2022">2022</ion-select-option>
            <ion-select-option value="2021">2021</ion-select-option>
            <ion-select-option value="2020">2020</ion-select-option>
        </ion-select>
    </div>
    <div *ngIf="skills && skills.length !== 0" style="margin-bottom: 30px;"></div>
    <div *ngIf="skills && skills.length !== 0" class="grid-parent" [style.grid-template-rows]="getRowsNumber()" #gridParent>
        <div class="skill" *ngFor="let skill of skills">
            <app-skeleton-image [src]="skill.icon" [alt]="skill.name"></app-skeleton-image>
            <h1>{{skill.name}}</h1>
            <span>{{skill.level}}</span>
        </div>
    </div>
</app-base>
