<app-base>

    <section class="page-shaped-section-conatiner">

        <div class="section-header">
            <h1 class="title">{{ 'schedule' | translate}}</h1>
        </div>

        <ion-select [(ngModel)]="selectedEstablishment" (ionChange)="onEstablishmentChange($event)"
            label="{{ 'establishmentLabel' | translate }}"
            placeholder="{{ 'selectEstablishmentPlaceholder' | translate }}">
            <ion-select-option *ngFor="let establishment of establishments" [value]="establishment">{{
                establishment.name | translate }}</ion-select-option>
        </ion-select>

        <ion-select *ngIf="departments" [(ngModel)]="selectedDepartment" (ionChange)="onDepartmentChange($event)"
            label="{{ 'departmentLabel' | translate }}" placeholder="{{ 'selectDepartmentPlaceholder' | translate }}">
            <ion-select-option *ngFor="let department of departments" [value]="department">{{ department.name |
                translate }}</ion-select-option>
        </ion-select>

        <ion-select *ngIf="academicPrograms" [(ngModel)]="selectedAcademicProgram"
            (ionChange)="onAcademicProgramChange($event)" label="{{ 'academicProgramLabel' | translate }}"
            placeholder="{{ 'selectAcademicProgramPlaceholder' | translate }}">
            <ion-select-option *ngFor="let academicProgram of academicPrograms" [value]="academicProgram">{{
                academicProgram.name | translate }}</ion-select-option>
        </ion-select>

        <ion-select *ngIf="promotions" [(ngModel)]="selectedPromotion" (ionChange)="onPromotionChange($event)"
            label="{{ 'promotionLabel' | translate }}" placeholder="{{ 'selectPromotionPlaceholder' | translate }}">
            <ion-select-option *ngFor="let promotion of promotions" [value]="promotion">{{ promotion.startYear | date:
                'dd/MM/yyyy'
                }} - {{ promotion.endYear | date: 'dd/MM/yyyy' }}</ion-select-option>
        </ion-select>

        <br />

        <div class="table-responsive"
            *ngIf="selectedPromotion && selectedPromotion.promotionCourses && selectedPromotion.promotionCourses.length !== 0">

            <div class="section-header">
                <h1 class="title">{{ 'courses' | translate}}</h1>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'codeLabel' | translate }}</th>
                        <th>{{ 'titleLabel' | translate }}</th>
                        <th>{{ 'teacherLabel' | translate }}</th>
                        <th>{{ 'semesterLabel' | translate }}</th>
                        <th>{{ 'creditHoursLabel' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let promotionCourse of selectedPromotion.promotionCourses">
                        <td>{{ promotionCourse.course.code }}</td>
                        <td>{{ promotionCourse.course.title }}</td>
                        <td>{{ promotionCourse.course.teacher.firstName }} {{ promotionCourse.course.teacher.lastName }}
                        </td>
                        <td>{{ promotionCourse.course.semester.code }}</td>
                        <td>{{ promotionCourse.course.creditHours }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br />
        <br />

        <div class="form-container" *ngIf="selectedPromotion && selectedPromotion.promotionCourses">
            <div class="form-header">
                <h1 class="form-title">{{ 'addNewScheduleTitle' | translate }}</h1>
                <p class="form-subtitle">{{ 'addNewScheduleDescription' | translate }}
                </p>
            </div>

            <form [formGroup]="scheduleForm" (ngSubmit)="submitForm()" novalidate>

                <div class="form-controls">
                    <ion-item *ngIf="selectedPromotion && selectedPromotion.promotionCourses" lines="full">
                        <ion-select formControlName="course" label="{{ 'courseLabel' | translate }}"
                            placeholder="{{ 'selectCoursePlaceholder' | translate }}">
                            <ion-select-option *ngFor="let promotionCourse of selectedPromotion.promotionCourses"
                                [value]="promotionCourse.course">
                                {{ promotionCourse.course.title | translate }}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="full">
                        <ion-select formControlName="classRoom" label="{{ 'classRoomLabel' | translate }}"
                            placeholder="{{ 'selectClassRoomPlaceholder' | translate }}">
                            <ion-select-option *ngFor="let classRoom of classRooms" [value]="classRoom">
                                {{ classRoom.code }} - {{ classRoom.name }}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="full">
                        <ion-select formControlName="dayOfWeek" label="{{ 'dayLabel' | translate }}"
                            placeholder="{{ 'selectDayPlaceholder' | translate }}">
                            <ion-select-option *ngFor="let day of days" [value]="day">
                                {{ 'days.' + day | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="full">
                        <ion-select formControlName="startTime" label="{{ 'hourLabel' | translate }}"
                            placeholder="{{ 'selectHourPlaceholder' | translate }}">
                            <ion-select-option *ngFor="let hour of hours" [value]="hour">
                                {{ hour | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="full">
                        <ion-select formControlName="endTime" label="{{ 'hourLabel' | translate }}"
                            placeholder="{{ 'selectHourPlaceholder' | translate }}">
                            <ion-select-option *ngFor="let hour of hours" [value]="hour">
                                {{ hour | translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>

                <br />
                <div class="form-buttons" style="display: flex; justify-content: flex-end;">
                    <ion-button type="submit">
                        <ion-icon name="send-outline" slot="end"></ion-icon>
                        {{ 'addNewScheduleButtonLabel' | translate }} &nbsp;
                    </ion-button>
                </div>
            </form>
        </div>

        <br />
        <br />

        <div class="schedule-table">
            <table width="100%">
                <thead>
                    <tr>
                        <th class="day-column" [attr.colspan]="2">Day</th>
                        <th *ngFor="let hour of hours" class="hour-column">{{ hour }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let day of days">
                        <td class="day-column" [attr.colspan]="2">{{ 'days.' + day | translate }}</td>
                        <ng-container *ngFor="let hour of hours">
                            <td *ngIf="shouldRenderCell(day, hour)" [attr.colspan]="getColspan(day, hour)"
                                [style.display]="getColspan(day, hour) > 1 ? 'table-cell' : 'table-cell'"
                                [class.hour-column]="getColspan(day, hour) === 1">
                                <div style="display: flex; justify-content: center; gap: 5px; align-items: center;" *ngIf="isCourseScheduled(day, hour)">
                                    {{ getCourse(day, hour) }}
                                    <ion-button (click)="deleteSchedule(day, hour)" fill="clear" size="small" color="danger">
                                        <ion-icon name="close-outline"></ion-icon> 
                                    </ion-button>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
            <div style="display: flex; justify-content: flex-end; align-items: center; margin: 8px 0;">
                <ion-button type="submit" (click)="saveSchedule()">
                    <ion-icon name="send-outline" slot="end" ></ion-icon>
                    {{ 'saveButtonLabel' | translate }} &nbsp;
                </ion-button>
            </div>
            
        </div>

    </section>


</app-base>