<app-base>
  <div>
    <div style="width: 100% !important; height: 70vh !important; display: flex; justify-content: space-evenly; align-items: center;">
      <div style="width: 50%; text-align: center;">
        <h1 *ngIf="university && university.name">{{ university.name }}</h1>
        <p *ngIf="university && university.description">{{ university.description}}</p>
      </div>
      <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
        <img style="width: 200px;" *ngIf="university && university.thumbnail" [src]="university.thumbnail" alt="">
      </div>
    </div>
  </div>
    
</app-base>