<app-base>
  <div class="container">
    <div class="form-enrollment">
      <div class="form-header">
        <h1>Ajout d'un étudiant</h1>
        <p>Entrez les informations nécessaires pour ajouter un étudiant</p>
      </div>
      <form [formGroup]="studentForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-row">
          <ion-item lines="full">
            <ion-label position="stacked">Prénom</ion-label>
            <ion-input formControlName="firstName" placeholder="Entrez le prénom" type="text"
              ngDefaultControl></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked">Nom de famille</ion-label>
            <ion-input formControlName="lastName" placeholder="Entrez le nom de famille" type="text"
              ngDefaultControl></ion-input>
          </ion-item>
        </div>

        <div class="form-row">
          <ion-item lines="full">
            <ion-label position="stacked">Code Apogée</ion-label>
            <ion-input formControlName="apogeeCode" placeholder="Entrez le code Apogée" type="text"
              ngDefaultControl></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked">Code national étudiant</ion-label>
            <ion-input formControlName="studentNationalCode" placeholder="Entrez le code national étudiant" type="text"
              ngDefaultControl></ion-input>
          </ion-item>
        </div>

        <div class="form-row">
          <ion-item lines="full">
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" placeholder="Entrez le email" type="email" ngDefaultControl></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked">Date de naissance</ion-label>
            <ion-input formControlName="birthDate" placeholder="Sélectionnez la date de naissance" type="date"
              ngDefaultControl></ion-input>
          </ion-item>
        </div>

        <div class="form-row">
          <ion-item lines="full">
            <ion-label position="stacked">Numéro d'identification légal</ion-label>
            <ion-input formControlName="legalIdNumber" placeholder="Entrez le numéro pièce d'identité" type="text"
              ngDefaultControl></ion-input>
          </ion-item>
        </div>

        <ion-item lines="full">
          <ion-label position="stacked">Genre</ion-label>
          <ion-select formControlName="gender" label="Sélectionnez le genre">
            <ion-select-option value="male">Homme</ion-select-option>
            <ion-select-option value="female">Femme</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Nationalité</ion-label>
          <ion-select formControlName="citizenship" label="Sélectionnez la nationalité">
            <ion-select-option *ngFor="let country of countries" [value]="country">{{ country.name
              }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Type d'identification légal</ion-label>
          <ion-select formControlName="legalIdType" label="Sélectionnez le type pièce d'identité">
            <ion-select-option *ngFor="let legalIdType of legalIdTypes" [value]="legalIdType">{{ legalIdType.name
              }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Profil</ion-label>
          <ion-select formControlName="profile" label="Sélectionnez le profil">
            <ion-select-option *ngFor="let profile of profiles" [value]="profile">{{ profile.name }}</ion-select-option>
          </ion-select>
        </ion-item>


        <!-- <ion-item lines="full">
            <ion-label position="stacked">Ville</ion-label>
            <ion-input formControlName="city" placeholder="Entrez la ville" type="text" ngDefaultControl></ion-input>
          </ion-item> -->



        <div class="form-buttons">
            <ion-button type="submit">
              <ion-icon name="send-outline" slot="end"></ion-icon>
              Enregistrer  &nbsp;
            </ion-button>
        </div>
        
      </form>
    </div>

  </div>
</app-base>