.articles {
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    article {
        width: 60%;
        position: relative;
        margin: 20px auto ;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .header {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 20px;
            h1{
                margin: 0 !important;
                font-size: var(--text-large-font-size);
            }
            span {
                color: #333;
            }
        }

        .body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            p {
                padding: 15px;
            }

            app-skeleton-image{
                cursor: pointer;
            }

            .tags {
                padding: 8px;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                ion-chip {
                    width: auto;
                    padding: 5px 10px;
                }
            }
        }

        .footer {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            
            ion-button {
                width: auto;
                --color: var(--ion-color-primary);
                --border-color: var(--ion-color-primary);
                --ripple-color: var(--ion-color-primary);
                --background-hover: var(--ion-color-primary);
                --box-shadow: 0;
                --padding-top: 5px;
                --padding-bottom: 5px;
                --padding-end: 5px;
                --padding-start: 5px;
                --background: transparent;
                --border-style: solid;
                --border-width: 0;
                --background-activated: var(--ion-color-primary);
                --background-focused: var(--ion-color-primary);
            }
        }

    }

    @media screen and (max-width: 999px) {
        article {
            width: 95%;
        }
    }
}