<app-base>
    <div #filterElement></div>
    <div class="articles">
        <article *ngFor="let article of articles">
            <div class="header">
                <h1>{{ article?.title }}</h1>
                <span>Published on {{ article?.date | date:'MMM d, yyyy' }} • {{article?.estimatedTime}} read</span>
                <span>Published by {{ article?.author }}</span>
            </div>
            <div class="body">
                <app-skeleton-image *ngIf="article.thumbnail" [src]="article.thumbnail" [alt]="article.title"
                    [routerLink]="'/blogs-articles/' + article?.code"></app-skeleton-image>
                <p>{{ article?.description }}</p>
                <div class="tags">
                    <ion-chip *ngFor="let tag of article?.tags" color="primary">{{ tag }}</ion-chip>
                </div>
            </div>
            <div class="footer">
                <ion-button shape="round" [appClipboard]="currentUrl + '/' + article?.code">
                    <ion-icon name="copy-outline"></ion-icon>
                </ion-button>
                <ion-button shape="round" [routerLink]="'/blogs-articles/' + article?.code">
                    <ion-icon name="arrow-forward-circle-outline">
                    </ion-icon></ion-button>
            </div>
        </article>
    </div>
    <div *ngIf="articles && articles.length !== 0" class="paggination">
        <ion-button fill="solid" (click)="paginate('prev')"> <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <p>Page {{ page+1 }} of {{ pages }}</p>
        <ion-button fill="solid" (click)="paginate('next')"> <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
    </div>
</app-base>