<app-base title="Education And Work Experience"
    introduction="Explore my academic and professional voyage! 🎓💼 Dive into the chapters of my education and work experience—a concise showcase of the milestones that have shaped my skills. Ready for a brief yet insightful journey? Let's get started! 🚀📚">
    <div class="filterElement">
        <ion-select [(ngModel)]="filter.orderBy" (ionDismiss)="handleDismiss()"
            (ionChange)="handleChange('orderBy',$event)" interface="popover" label="Order By"
            placeholder="Select Order By" [multiple]="false" label-placement="floating">
            <ion-select-option value="date">Date</ion-select-option>
            <ion-select-option value="name">Name</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="filter.order" (ionDismiss)="handleDismiss()"
            (ionChange)="handleChange('order', $event)" interface="popover" label="Order" placeholder="Select Order"
            label-placement="floating">
            <ion-select-option value="asc">ASC</ion-select-option>
            <ion-select-option value="desc">DESC</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="filter.types" (ionDismiss)="handleDismiss()"
            (ionChange)="handleChange('types', $event)" interface="popover" label="Experience Type"
            placeholder="Select Experience Type" [multiple]="true" label-placement="floating">
            <ion-select-option value="work">Work</ion-select-option>
            <ion-select-option value="internship">Internship</ion-select-option>
            <ion-select-option value="school">School</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="filter.years" (ionDismiss)="handleDismiss()"
            (ionChange)="handleChange('years', $event)" interface="popover" label="Experience Year"
            placeholder="Select Experience Year" [multiple]="true" label-placement="floating">
            <ion-select-option value="2024">2024</ion-select-option>
            <ion-select-option value="2023">2023</ion-select-option>
            <ion-select-option value="2022">2022</ion-select-option>
            <ion-select-option value="2021">2021</ion-select-option>
            <ion-select-option value="2020">2020</ion-select-option>
        </ion-select>
    </div>
    <div *ngIf="workExperiences && workExperiences.length !== 0" style="margin-bottom: 30px;"></div>
    <div *ngIf="workExperiences && workExperiences.length !== 0" class="grid-parent"
        [style.grid-template-rows]="getRowsNumber()">
        <div class="background-grid">
            <img src="assets/backgroundgrid.png" alt="Background grid" />
        </div>
        <div class="abstract-card project" *ngFor="let workExperience of workExperiences; index as i"
            [style.grid-area]="getGridArea(i)">
            <app-skeleton-image [src]="workExperience.thumbnail" [alt]="workExperience.title"
                [routerLink]="'/education-work-experience/' + workExperience?.code"></app-skeleton-image>
            <div class="card-body">
                <div class="titles">
                    <h1> {{ workExperience.title }} </h1>
                    <span> {{ workExperience.startDate | date:'MMM, yyyy' }} {{ workExperience.endDate ? ' - ' +
                        (workExperience.endDate | date:'MMM, yyyy') : ' - present' }} | {{ workExperience.location
                        }}</span>
                </div>
                <p> {{ workExperience.description }} </p>
                <div class="buttons">
                    <div>
                        <a [href]="workExperience.link" target="_blank">
                            <ion-button shape="round">
                                <ion-icon name="open-outline"></ion-icon>
                            </ion-button>
                        </a>
                    </div>
                    <div>
                        <ion-button shape="round" [routerLink]="'/education-work-experience/' + workExperience?.code">
                            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="abstract-card-icon" *ngFor="let workExperience of workExperiences; index as i"
            [style.grid-area]="getGridAreaIcon(i)">
            <div>
                <ion-icon *ngIf="workExperience.type === 'work'" name="business-outline"></ion-icon>
                <ion-icon *ngIf="workExperience.type === 'internship'" name="business-outline"></ion-icon>
                <ion-icon *ngIf="workExperience.type === 'school'" name="school-outline"></ion-icon>
            </div>
            <p [style]="getDatePosition(i)"> <ion-icon name="calendar-outline"></ion-icon> {{ workExperience.startDate |
                date:'MMM, yyyy' }} {{ workExperience.endDate ? ' - ' + (workExperience.endDate | date:'MMM, yyyy') : '
                - present' }}</p>
        </div>
        <div class="grid-midle" [style.grid-area]="getGridMidle()">
            <div></div>
        </div>
    </div>
</app-base>