<app-base>
    <section>
        <div class="header">
            <h1> {{ experience?.name }} </h1>
            <h1> {{ experience?.title }} </h1>
            <span> {{ experience?.location }} </span>
            <span *ngIf="experience?.startDate"> {{ experience?.startDate | date:'MMM, yyyy' }} {{ experience?.endDate ? ' - ' + (experience?.endDate | date:'MMM, yyyy') : ' - present' }}</span>
            <a *ngIf="experience?.link" [href]="experience?.link" target="_blank"> {{experience?.link}} </a>
        </div>
        <div class="body">
            <app-skeleton-image *ngIf="experience?.thumbnail" [src]="experience?.thumbnail"
                [alt]="experience?.title"></app-skeleton-image>
            <p *ngIf="experience?.description" class="description">{{ experience?.description }}</p>
            <div *ngIf="experience?.skills && experience?.skills.length > 0" class="tags">
                <ion-chip *ngFor="let tag of experience?.skills" color="primary">{{ tag }}</ion-chip>
            </div>
        </div>
        <!-- <div class="footer"></div> -->
    </section>
</app-base>