<app-base>
    <section>
        <div class="header">
            <h1> {{ project?.name }} </h1>
            <span> {{ project?.date | date:'MMM, yyyy' }} </span>
            <a *ngIf="project?.link" [href]="project?.link" target="_blank"> {{project?.link}} </a>
            <a *ngIf="project?.repository" [href]="project?.repository" target="_blank"> {{project?.repository}} </a>
        </div>
        <div class="body">
            <app-skeleton-image *ngIf="project?.thumbnail" [src]="project?.thumbnail" [alt]="project?.title"></app-skeleton-image>
            <p class="description">{{ project?.description }}</p>
            <div *ngIf="project?.technologies" class="tags">
                <ion-chip *ngFor="let tag of project?.technologies" color="primary">{{ tag }}</ion-chip>
            </div>
            <div *ngIf="project?.pics" class="pics">
                <app-skeleton-image *ngFor="let pic of project?.pics" [src]="pic" [alt]="pic"></app-skeleton-image>
            </div>
        </div>
        <!-- <div class="footer"></div> -->
    </section>
</app-base>