<app-base>
  <div id="welcome">
    <div class="welcome-text">
      <div class="welcome-text-intro">
        <h1>👋 H E L L O !</h1>
        <h1 *ngIf="global?.firstName && global?.lastName" >I'm {{ global.firstName }} {{ global.lastName }}</h1>
        <h1 *ngIf="global?.title" > {{ global.title }} </h1>
        <p *ngIf="global?.description"> {{ global.description }} </p>
      </div>
      <div class="welcome-text-links">
        <div class="link">
          <a *ngIf="global?.github" [href]="global.github" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        </div>
        <div class="link">
          <a *ngIf="global?.linkedin" [href]="global.linkedin" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        </div>
        <div class="link">
          <a *ngIf="global?.instagram" [href]="global.instagram" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
      </div>
      <div class="welcome-text-buttons">
        <ion-button fill="outline" (click)="openModal()"> SEE MY CV </ion-button>
        <ion-button fill="solid" (click)="openContactMeModal()"> CONTACT ME </ion-button>
      </div>
    </div>
    <div class="welcome-img">
      <img src="assets/images/thumbnail.png" alt="Anas-BOUKHLIJA">
      <div class="gradient"></div>
      <span class="circle z-0"></span>
    </div>
  </div>
  <div class="title">
    <h3 class="header">ARTICLES</h3>
    <div class="gradient"></div>
    <h1 class="main">Latest Articles <strong>.</strong></h1>
  </div>

  <div *ngIf="articles?.length !== 0" class="items">
    <app-article-item *ngFor="let article of articles" [article]="article"></app-article-item>
    <div class="gradient"></div>
  </div>
  <div *ngIf="!articles" class="items">
    <app-skeleton-item *ngFor="let index of getRange(baseSize); let i = index"></app-skeleton-item>
  </div>

  <div class="title">
    <h3 class="header">PROJECTS</h3>
    <div class="gradient"></div>
    <h1 class="main">Latest Projects <strong>.</strong></h1>
  </div>

  <div *ngIf="projects?.length !== 0" class="items">
    <app-project-item *ngFor="let project of projects" [project]="project"></app-project-item>
    <div class="gradient"></div>
  </div>
  <div *ngIf="!projects" class="items">
    <app-skeleton-item *ngFor="let index of getRange(baseSize); let i = index"></app-skeleton-item>
  </div>

  <div class="title">
    <h3 class="header">WORKS</h3>
    <div class="gradient"></div>
    <h1 class="main">Latest Work Experience <strong>.</strong></h1>
  </div>

  <div *ngIf="workExperiences?.length !== 0" class="items">
    <app-work-experience-item *ngFor="let workExperience of workExperiences" [workExperience]="workExperience"></app-work-experience-item>
    <div class="gradient"></div>
  </div>
  <div *ngIf="!workExperiences" class="items">
    <app-skeleton-item *ngFor="let index of getRange(baseSize); let i = index"></app-skeleton-item>
  </div>

  <div *ngIf="skills?.length !== 0" class="title">
    <h3 class="header">Skills</h3>
    <div class="gradient"></div>
    <h1 class="main">My Skills<strong>.</strong></h1>
  </div>

  <swiper-container #swiperSkills>
    <ion-skeleton-text *ngIf="!skills || skills.length === 0" [animated]="true"></ion-skeleton-text>
    <swiper-slide *ngFor="let skill of skills">
      <app-skeleton-image [src]="skill.icon" [alt]="skill.name"></app-skeleton-image>
      <h2>{{skill.name}}</h2>
    </swiper-slide>
  </swiper-container>
  

  <swiper-container #swiperQuotes class="quotes">
    <ion-skeleton-text *ngIf="!quotes || quotes.length === 0" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    <swiper-slide *ngFor="let quote of quotes">
      <p>“ {{quote.quote}} ”</p>
      <p> ~ {{quote.author}} ~ </p>
    </swiper-slide>
  </swiper-container>

</app-base>