/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box !important;
  text-decoration: none;
}

.inner-scroll {
  padding-bottom: 0 !important;
  --padding-bottom: 0 !important;
  --margin-bottom: 0 !important;
  --keyboard-offset: 0px !important;
  --offset-bottom: 0px !important;
}

ion-content.content-md[padding] .scroll-content {
  padding-bottom: 16px !important;
}

ion-content.content-md:not([padding]) .scroll-content {
  padding-bottom: 0 !important;
}

.page-content {
  width: 70%;
  margin: 40px auto;

  @media screen and (max-width: 999px) {
    width: 95%;
    margin: 20px auto;
  }
}

ion-input {
  margin: 5px 0 0 0;
}

ion-footer {
  padding: 15px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--ion-color-primary);
  color: var(--white-color);

  span {
    a {
      color: var(--ion-color-primary);
      padding: 5px;
      font-size: var(--text-big-font-size);
      margin: 0 10px;
    }
  }

  ion-skeleton-text {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 999px) {
    height: 110px;
    flex-direction: column;
    gap: 10px;
  }

}


.card-modal {
  width: 100%;

  .close-button {
    cursor: pointer;
    position: absolute !important;
    background: var(--ion-color-primary);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    right: -10px;
    top: -10px;
    transition: 0.5 ease-in-out;
    z-index: 10;
  }

  &::part(content) {
    width: auto;
    min-width: 40%;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    --offset-top: unset !important;
    --offset-bottom: unset !important;
    overflow: auto !important;
  }

  app-university-modal {
    position: relative;
    border-radius: 20px;
    padding: 10px;
  }

  .form-header {
    padding: 10px;
    margin-bottom: 20px;

    h1 {
      margin: 0;
      text-transform: uppercase;
    }

    p {
      font-size: 15px;
      color: #333;
    }
  }

  ion-item {
    --inner-padding-end: 0;
    width: 100%;

    ion-input,
    ion-select,
    ion-textarea {
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      --width: 100%;
    }

    ion-textarea {
      --padding-start: 5px;
      --padding-end: 5px;
      --padding-top: 5px;
      --padding-bottom: 5px;
      --height: 50px;
      ::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .form-buttons {
    display: flex;
    justify-content: flex-end;

    ion-button {
      width: 30%;
      margin: 30px 0 0 0;
    }
  }
}


.paggination {
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: auto;
  margin: 0 auto 20px auto;

  ion-button {
    width: auto;
    --color: var(--ion-color-primary);
    --border-color: var(--ion-color-primary);
    --ripple-color: var(--ion-color-primary);
    --background-hover: var(--ion-color-primary);
    --box-shadow: 0;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-end: 5px;
    --padding-start: 5px;
    --background: transparent;
    --border-style: solid;
    --border-width: 0;
    --background-activated: var(--ion-color-primary);
    --background-focused: var(--ion-color-primary);
    font-size: 20px;
  }
}

app-spinner {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000002f;
}

.fullscreen,
.container {
  --width: 100% !important;
  --height: 100% !important;
}


.form-enrollment {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;

  .form-header {
    padding: 10px;
    margin-bottom: 20px;

    h1 {
      margin: 0;
      text-transform: uppercase;
    }

    p {
      font-size: 15px;
      color: #333;
    }
  }

  ion-item {
    // --padding-start: 5px;
    // --padding-end: 5px;
    // --padding-top: 5px;
    // --padding-bottom: 5px;
    --inner-padding-end: 0;
    width: 100%;

    ion-input,
    ion-select,
    ion-textarea {
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      --width: 100%;
    }
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;

    ion-button {
      min-width: 15%;
    }
  }

}


// **********************************************************************************
// ********************************** SIZE DEFINITION ********************************
// **********************************************************************************

:root {
  --base-font-size: 16px;
}

/* Define breakpoints for different devices */
@media only screen and (max-width: 600px) {
  :root {
    --h1-font-size: 18px;
    --h2-font-size: 16px;
    --h3-font-size: 14px;
    --h4-font-size: 12px;
    --h5-font-size: 10px;
    --h6-font-size: 8px;
    --text-font-size: 14px;
    --text-small-font-size: 12px;
    --text-big-font-size: 20px;
    --text-large-font-size: 24px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  :root {
    --h1-font-size: 20px;
    --h2-font-size: 18px;
    --h3-font-size: 16px;
    --h4-font-size: 14px;
    --h5-font-size: 12px;
    --h6-font-size: 10px;
    --text-font-size: 16px;
    --text-small-font-size: 14px;
    --text-big-font-size: 22px;
    --text-large-font-size: 26px;
  }
}

@media only screen and (min-width: 1025px) {
  :root {
    --h1-font-size: 22px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --h4-font-size: 16px;
    --h5-font-size: 14px;
    --h6-font-size: 12px;
    --text-font-size: 16px;
    --text-small-font-size: 14px;
    --text-big-font-size: 24px;
    --text-large-font-size: 28px;
  }
}

/* Apply styles using variables */
h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  font-size: var(--text-font-size);
}