
<span class="close-button" (click)="closeModal()">
  <ion-icon name="close-outline"></ion-icon>
</span>

<div class="form-header">
  <h1>Enregistrement de l'université</h1>
  <p>Enregistrez les informations détaillées de l'université</p>
</div>
<form [formGroup]="universityForm" (ngSubmit)="submitForm()" novalidate>



  <div class="thumbnail-container">
    <ion-img [src]="universityForm.get('thumbnail')?.value" class="thumbnail"></ion-img>
    <ion-button (click)="fileInput.click()">   
      Changer l'image de l'université &nbsp; <ion-icon name="create-outline"></ion-icon>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" class="hidden-input">
    </ion-button>
  </div>
  
  <ion-item lines="full">
    <ion-label position="stacked">Code</ion-label>
    <ion-input formControlName="code" placeholder="Entrez le code" type="text" ngDefaultControl></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Nom</ion-label>
    <ion-input formControlName="name" placeholder="Entrez le nom" type="text" ngDefaultControl></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea rows="4" formControlName="description" placeholder="Entrez la description" type="text"
      ngDefaultControl></ion-textarea>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Pays</ion-label>
    <ion-select formControlName="citizenship" label="Sélectionnez le pays">
      <ion-select-option *ngFor="let country of countries" [value]="country">{{ country.name
        }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full" *ngIf="selectedCountry">
    <ion-label position="stacked">Ville</ion-label>
    <ion-select formControlName="city" label="Sélectionnez la ville">
      <ion-select-option *ngFor="let city of selectedCountry.cities" [value]="city">{{ city.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="form-buttons">
    <ion-button type="submit">
      <ion-icon name="send-outline" slot="end"></ion-icon>
      Enregistrer &nbsp;
    </ion-button>
  </div>

</form>