<app-base title="Portfolio"
    introduction="Welcome to my project playground! 🎨✨ Peek into a world of creative sparks and digital wonders. Let the projects do the talking – a snapshot of passion and innovation awaits your curiosity. Let's dive in together! 🚀🔍">
    <div class="filterElement" #filterElement>
        <ion-select [(ngModel)]="filter.orderBy" (ionDismiss)="handleDismiss()"
            (ionChange)="handleChange('orderBy',$event)" interface="popover" label="Order By"
            placeholder="Select Order By" [multiple]="false" label-placement="floating">
            <ion-select-option value="date">Project date</ion-select-option>
            <ion-select-option value="name">Project name</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="filter.order" (ionDismiss)="handleDismiss()"
            (ionChange)="handleChange('order', $event)" interface="popover" label="Order" placeholder="Select Order"
            label-placement="floating">
            <ion-select-option value="asc">ASC</ion-select-option>
            <ion-select-option value="desc">DESC</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="filter.types" (ionDismiss)="handleDismiss()"
            (ionChange)="handleChange('types', $event)" interface="popover" label="Project Type"
            placeholder="Select Project Type" [multiple]="true" label-placement="floating">
            <ion-select-option value="app-multi-platform">Multi Platform App</ion-select-option>
            <ion-select-option value="app-mobile">Mobile App</ion-select-option>
            <ion-select-option value="app-web">Web App</ion-select-option>
            <ion-select-option value="data-visualisation">Data visualisation</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="filter.years" (ionDismiss)="handleDismiss()"
            (ionChange)="handleChange('years', $event)" interface="popover" label="Project Year"
            placeholder="Select Project Year" [multiple]="true" label-placement="floating">
            <ion-select-option value="2024">2024</ion-select-option>
            <ion-select-option value="2023">2023</ion-select-option>
            <ion-select-option value="2022">2022</ion-select-option>
            <ion-select-option value="2021">2021</ion-select-option>
            <ion-select-option value="2020">2020</ion-select-option>
        </ion-select>
    </div>
    <div *ngIf="projects && projects.length !== 0" style="margin-bottom: 30px;"></div>
    <div *ngIf="projects && projects.length !== 0" class="grid-parent" [style.grid-template-rows]="getRowsNumber()">
        <div class="background-grid">
            <img src="assets/backgroundgrid.png" alt="Background grid" />
        </div>
        <div class="abstract-card project" *ngFor="let project of projects; index as i"
            [style.grid-area]="getGridArea(i)" [@fadeInOut]>
            <app-skeleton-image [src]="project.thumbnail" [alt]="project.name"
                [routerLink]="'/portfolio/' + project?.code"></app-skeleton-image>
            <div class="card-body">
                <div class="titles">
                    <h1> {{ getTitle(project.name, project.type) }} </h1>
                    <span> {{ project.date | date:'MMM, yyyy' }} </span>
                </div>
                <p> {{ project.description }} </p>
                <div class="buttons">
                    <div>
                        <a *ngIf="project.repository" [href]="project.repository" target="_blank"><ion-button
                                shape="round"><ion-icon name="logo-github"></ion-icon></ion-button></a>
                        <a *ngIf="project.link" [href]="project.link" target="_blank"><ion-button
                                shape="round"><ion-icon name="open-outline"></ion-icon></ion-button></a>
                    </div>
                    <div>
                        <ion-button shape="round" [routerLink]="'/portfolio/' + project?.code">
                            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="abstract-card-icon" *ngFor="let project of projects; index as i"
            [style.grid-area]="getGridAreaIcon(i)">
            <div>
                <ion-icon *ngIf="project.type === 'app-web'" name="desktop-outline"></ion-icon>
                <ion-icon *ngIf="project.type === 'app-mobile'" name="phone-portrait-outline"></ion-icon>
                <ion-icon *ngIf="project.type === 'app-multi-platform'" name="phone-portrait-outline"></ion-icon>
            </div>
            <p [style]="getDatePosition(i)"> <ion-icon name="calendar-outline"></ion-icon> {{ project.date |
                date:'MMM, yyyy' }} </p>
        </div>
        <div class="grid-midle" [style.grid-area]="getGridMidle()">
            <div></div>
        </div>
    </div>
    <div *ngIf="projects && projects.length !== 0" class="paggination">
        <ion-button fill="solid" (click)="paginate('prev')"> <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <p>Page {{ page+1 }} of {{ pages }}</p>
        <ion-button fill="solid" (click)="paginate('next')"> <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
    </div>
</app-base>