
<ion-header>
  <ng-container>
    <ion-buttons class="menu-button">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="titles">
      <ion-item *ngFor="let p of pages" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
        routerLinkActive="selected">
        <div class="item-content">
          <ion-icon class="icon" aria-hidden="true" slot="start" [ios]="p.icon + '-outline'"
            [md]="p.icon + '-sharp'"></ion-icon>
          <p class="label">{{ p.title }}</p>
        </div>
      </ion-item>
    </div>
    <ion-buttons class="contact-me-button">
      <ion-button fill="solid" (click)="openContactMeModal()"> 
        CONTACT ME 
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-container>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-content">
    <div *ngIf="title && introduction" class="introduction">
      <h1>{{title}}</h1>
      <div class="gradient"></div>
      <p>{{introduction}}</p>
    </div>
      <ng-content></ng-content>
  </div>
  <ion-footer>
    <ion-skeleton-text *ngIf="!global" [animated]="true"></ion-skeleton-text>
    <span *ngIf="global?.portfolio" >{{ global.portfolio }}</span>
    <span *ngIf="global?.firstName && global.lastName">Copyright © {{currentYear}} {{ global.firstName }} {{ global.lastName }}</span>
    <span>
      <a *ngIf="global?.github" [href]="global.github" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
      <a *ngIf="global?.linkedin" [href]="global.linkedin" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
      <a *ngIf="global?.instagram" [href]="global.instagram" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
    </span>
  </ion-footer>
</ion-content>
