*{
    --height: auto;
}

ion-toolbar{
    --ion-toolbar-background: var(--ion-color-primary);
    padding: 0 8px;
}

ion-button {
    --color: var(--white-color) !important;
    --border-radius: 0 !important;
    --padding-top: 10px !important;
    --padding-bottom: 10px !important;
    --border-color: transparent !important;
    --ripple-color: transparent !important;
    --background-hover: transparent !important;
    --border-color: transparent !important;
    --border-style: solid !important;
    --border-width: 0 !important;
    --background-hover: transparent !important;
    --background-activated: transparent !important;
    --background-focused: transparent !important;
}